@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime;

<div class="site-wrapper" id="top">
	<NavMenu></NavMenu>
	<MobileNav></MobileNav>
	@Body
</div>
<Footer></Footer>

@functions {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JsRuntime.InvokeAsync<object>("jQueryWidgets.initialize");
			firstRender = false;
		}
	}
}
